@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-primary: #ffffff;
  --color-secondary: #ec43f0;
  --font-roboto: "Roboto", sans-serif;
}

body {
  @apply bg-black text-primary min-h-screen font-roboto;
}